In [127]:
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import roc_curve
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/churn_train.csv')
df['churn'] = df['last_trip_date'] < '2014-06-01'
bool_map = {True: 1, False: 0}
df.churn = df.churn.map(bool_map)
df.luxury_car_user = df.luxury_car_user.map(bool_map)
df.head()

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,city,last_trip_date,phone,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,churn
0,6.94,5.0,5.0,1.00,Astapor,2014-05-03,Android,2014-01-12,0.0,0,0,100.0,1
1,8.06,5.0,5.0,1.00,Astapor,2014-01-26,Android,2014-01-25,0.0,2,1,0.0,1
2,21.50,4.0,NaN,1.00,Winterfell,2014-05-21,iPhone,2014-01-02,0.0,1,1,100.0,1
3,9.46,5.0,NaN,2.75,Winterfell,2014-01-10,Android,2014-01-09,100.0,1,0,100.0,1
4,13.77,5.0,NaN,1.00,Winterfell,2014-05-13,iPhone,2014-01-31,0.0,0,0,100.0,1

In [5]:
null_avgdist = df[(df.avg_dist == 0) & (df.trips_in_first_30_days > 0)].index
null_avgrateby = df[df.avg_rating_by_driver.isnull()].index
null_avgrateof = df[df.avg_rating_of_driver.isnull()].index
null_phone = df[df.phone.isnull()].index

df2 = df.drop(null_avgdist)
df2 = df.drop(null_avgrateby)
df2 = df.drop(null_phone)

df2.avg_rating_of_driver = df2.avg_rating_of_driver.fillna(avgrateof_mean)
drop = df.drop(null_avgrateof)
avgrateof_mean = np.mean(drop.avg_rating_of_driver)

df2.count()

avg_dist                  39681
avg_rating_by_driver      39521
avg_rating_of_driver      39681
avg_surge                 39681
city                      39681
last_trip_date            39681
phone                     39681
signup_date               39681
surge_pct                 39681
trips_in_first_30_days    39681
luxury_car_user           39681
weekday_pct               39681
churn                     39681
dtype: int64

In [9]:
df2.signup_date = pd.to_datetime(df2.signup_date)
df2.last_trip_date = pd.to_datetime(df2.last_trip_date)
df2.signup_age = pd.to_datetime('2014-07-01') - df2.signup_date
df2.last_trip_age = pd.to_datetime('2014-07-01') - df2.last_trip_date

df2 = pd.get_dummies(df2)
df2

,avg_dist,avg_rating_by_driver,avg_rating_of_driver,avg_surge,last_trip_date,signup_date,surge_pct,trips_in_first_30_days,luxury_car_user,weekday_pct,churn,city_Astapor,city_King's Landing,city_Winterfell,phone_Android,phone_iPhone
0,6.94,5.0,5.000000,1.00,2014-05-03,2014-01-12,0.0,0,0,100.0,1,1,0,0,1,0
1,8.06,5.0,5.000000,1.00,2014-01-26,2014-01-25,0.0,2,1,0.0,1,1,0,0,1,0
2,21.50,4.0,4.601697,1.00,2014-05-21,2014-01-02,0.0,1,1,100.0,1,0,0,1,0,1
3,9.46,5.0,4.601697,2.75,2014-01-10,2014-01-09,100.0,1,0,100.0,1,0,0,1,1,0
4,13.77,5.0,4.601697,1.00,2014-05-13,2014-01-31,0.0,0,0,100.0,1,0,0,1,0,1
5,14.51,5.0,4.601697,1.00,2014-04-22,2014-01-29,0.0,0,1,100.0,1,1,0,0,0,1
6,4.87,4.7,4.000000,1.00,2014-04-21,2014-01-18,0.0,0,0,66.7,1,1,0,0,1,0
7,1.78,4.0,5.000000,1.00,2014-01-12,2014-01-11,0.0,3,0,0.0,1,0,0,1,0,1
8,6.87,5.0,4.700000,1.00,2014-01-30,2014-01-01,0.0,3,0,66.7,1,1,0,0,1,0
9,2.41,5.0,3.000000,1.00,2014-01-29,2014-01-28,0.0,1,0,100.0,1,0,0,1,0,1
10,3.96,5.0,4.601697,2.00,2014-01-19,2014-01-18,100.0,1,0,0.0,1,0,0,1,0,1
11,17.04,5.0,4.601697,1.00,2014-05-12,2014-01-26,0.0,0,1,100.0,1,0,0,1,1,0
12,5.42,4.7,5.000000,1.00,2014-06-28,2014-01-05,0.0,2,1,33.3,0,1,0,0,0,1
13,5.02,5.0,5.000000,1.00,2014-01-19,2014-01-19,0.0,1,0,0.0,1,1,0,0,1,0
14,4.28,5.0,4.000000,1.15,2014-06-28,2014-01-14,20.0,2,0,40.0,0,0,0,1,1,0
15,3.40,5.0,5.000000,1.00,2014-01-16,2014-01-16,0.0,1,1,100.0,1,1,0,0,1,0
16,6.74,4.8,3.700000,1.02,2014-05-30,2014-01-25,9.1,2,0,54.5,1,0,0,1,0,1
17,7.27,4.8,4.000000,1.00,2014-05-15,2014-01-07,0.0,1,0,75.0,1,0,0,1,0,1
18,2.72,4.7,4.500000,1.00,2014-04-13,2014-01-10,0.0,1,0,33.3,1,1,0,0,0,1
19,5.94,5.0,5.000000,1.00,2014-03-06,2014-01-26,0.0,1,1,100.0,1,1,0,0,0,1
20,17.34,5.0,5.000000,1.00,2014-01-15,2014-01-14,0.0,1,1,100.0,1,0,0,1,1,0
21,3.31,4.8,3.700000,1.02,2014-05-30,2014-01-28,2.6,9,0,47.4,1,0,1,0,0,1
22,2.69,4.3,5.000000,1.00,2014-04-21,2014-01-15,0.0,0,0,0.0,1,0,0,1,0,1
23,6.00,5.0,4.601697,1.00,2014-01-10,2014-01-07,0.0,1,0,100.0,1,0,0,1,0,1
24,4.96,5.0,5.000000,1.00,2014-02-17,2014-01-26,0.0,1,0,100.0,1,0,0,1,0,1
25,11.44,4.6,4.700000,1.00,2014-06-09,2014-01-25,0.0,6,1,31.4,0,1,0,0,0,1
26,0.05,5.0,5.000000,1.00,2014-01-12,2014-01-12,0.0,1,0,0.0,1,0,0,1,1,0
27,3.70,4.6,5.000000,1.00,2014-05-23,2014-01-04,0.0,2,0,40.0,1,0,0,1,0,1
28,3.89,5.0,4.000000,1.00,2014-04-13,2014-01-03,0.0,0,0,0.0,1,1,0,0,0,1
29,4.70,4.8,3.300000,1.00,2014-01-19,2014-01-06,0.0,4,0,25.0,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39970,6.65,5.0,4.000000,1.75,2014-06-29,2014-01-23,66.7,2,0,33.3,0,0,0,1,0,1
39971,13.45,5.0,4.601697,1.00,2014-02-26,2014-01-08,0.0,0,1,100.0,1,0,1,0,1,0
39972,1.95,3.5,5.000000,1.50,2014-02-14,2014-01-25,100.0,2,0,100.0,1,1,0,0,0,1
39973,4.67,5.0,5.000000,1.00,2014-06-26,2014-01-06,0.0,0,1,62.5,0,1,0,0,0,1
39974,1.74,4.3,4.900000,1.01,2014-06-11,2014-01-17,4.5,9,1,95.5,0,1,0,0,0,1
39975,1.16,5.0,4.601697,1.00,2014-01-18,2014-01-18,0.0,1,1,0.0,1,1,0,0,0,1
39976,3.21,4.7,4.800000,1.01,2014-06-29,2014-01-07,2.8,9,0,55.6,0,0,0,1,0,1
39977,2.05,4.0,5.000000,1.00,2014-06-29,2014-01-18,0.0,0,0,0.0,0,1,0,0,0,1
39978,5.59,5.0,5.000000,1.25,2014-04-12,2014-01-27,50.0,1,0,50.0,1,1,0,0,1,0
39979,10.50,5.0,3.500000,1.00,2014-01-25,2014-01-20,0.0,3,1,66.7,1,0,0,1,0,1
39980,4.48,4.0,4.601697,1.00,2014-05-11,2014-01-21,0.0,1,1,50.0,1,1,0,0,0,1
39981,1.13,5.0,5.000000,1.75,2014-01-11,2014-01-11,100.0,1,0,0.0,1,0,1,0,1,0
39982,1.99,4.8,4.800000,1.15,2014-04-25,2014-01-06,20.0,3,0,50.0,1,0,0,1,0,1
39983,9.14,4.0,4.601697,1.00,2014-01-31,2014-01-30,0.0,1,1,100.0,1,1,0,0,0,1
39984,2.07,4.5,5.000000,1.00,2014-04-11,2014-01-18,0.0,2,0,87.5,1,0,0,1,0,1
39985,15.95,5.0,4.000000,1.00,2014-01-15,2014-01-15,0.0,1,1,100.0,1,0,0,1,0,1
39986,12.10,5.0,4.000000,1.00,2014-06-28,2014-01-22,0.0,2,0,75.0,0,1,0,0,0,1
39987,3.29,5.0,4.500000,1.50,2014-02-01,2014-01-05,50.0,2,0,100.0,1,0,0,1,0,1
39988,4.53,4.6,4.700000,1.41,2014-05-30,2014-01-06,18.8,7,0,75.0,1,0,0,1,0,1
39989,2.67,4.9,4.300000,1.06,2014-05-23,2014-01-15,11.1,3,1,88.9,1,1,0,0,1,0
39990,9.45,4.8,5.000000,1.00,2014-01-25,2014-01-23,0.0,4,1,75.0,1,0,0,1,0,1
39991,3.01,5.0,5.000000,1.00,2014-06-21,2014-01-01,0.0,0,0,0.0,0,1,0,0,0,1
39992,2.71,3.0,3.000000,1.25,2014-02-15,2014-01-26,100.0,1,1,0.0,1,0,1,0,1,0
39993,6.89,5.0,5.000000,1.00,2014-01-04,2014-01-03,0.0,1,0,100.0,1,0,0,1,1,0
39994,3.88,4.8,5.000000,1.00,2014-06-27,2014-01-16,0.0,2,0,100.0,0,1,0,0,1,0
39995,2.06,4.8,4.300000,1.08,2014-04-02,2014-01-26,9.5,8,0,90.5,1,0,0,1,1,0
39996,2.05,5.0,5.000000,1.00,2014-05-09,2014-01-08,0.0,2,0,85.7,1,0,1,0,0,1
39997,3.04,5.0,5.000000,1.00,2014-06-24,2014-01-04,0.0,3,1,33.3,0,0,0,1,1,0
39998,3.49,4.3,3.300000,1.50,2014-02-09,2014-01-08,40.0,5,0,60.0,1,1,0,0,0,1
39999,4.25,4.7,5.000000,1.00,2014-06-27,2014-01-18,0.0,2,1,42.9,0,1,0,0,0,1

In [97]:
y = df2.churn
X = df2.drop(['churn', 'last_trip_date', 'signup_date', 'avg_rating_by_driver'], axis=1)
#subset selection (same accuracy as before)
# X = X.drop(['phone_Android', 'phone_iPhone', 'luxury_car_user', 'avg_rating_of_driver'], axis=1)
#2nd subset selection
# X = X.drop(['city_Astapor', 'city_Winterfell', 'avg_surge'], axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y)

In [118]:
df3 = df2[df2['city_Astapor'] == 1]
df3.head()

y = df3.churn
X = df3.drop(['churn', 'last_trip_date', 'signup_date', 'avg_rating_by_driver'], axis=1)
#subset selection (same accuracy as before)
# X = X.drop(['phone_Android', 'phone_iPhone', 'luxury_car_user', 'avg_rating_of_driver'], axis=1)
#2nd subset selection
X = X.drop(['city_King\'s Landing', 'city_Winterfell'], axis=1)

X_train, X_val, y_train, y_val = train_test_split(X, y)

In [119]:
param_grid = {'n_estimators': [10, 100],
              'max_features': ['sqrt', 'log2', None],
              'max_depth': [2, 5, 10, 20],
              'random_state': [1]}

model_rf = RandomForestClassifier()
grid = GridSearchCV(model_rf, param_grid, n_jobs=-1, verbose=2)
grid.fit(X_train, y_train)

Fitting 3 folds for each of 24 candidates, totalling 72 fits
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=2 .
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=2 .
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=2 .
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=2 .
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=2 .
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=2 .
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=2, total=   0.7s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=2, total=   0.9s
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=2, total=   0.8s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=2 .
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=2 .
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=2 .
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=2, total=   0.1s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=2, total=   0.8s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=2, total=   0.8s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=2, total=   1.1s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=2, total=   0.9s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=2
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=2, total=   0.7s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=5, total=   0.9s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=5, total=   0.9s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=2, total=   1.0s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=5 .
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=5, total=   0.1s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=5, total=   0.9s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=5, total=   0.9s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=5, total=   1.0s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=10, total=   0.1s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=10, total=   0.1s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=10, total=   0.1s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=10
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=5, total=   1.0s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=10
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=5, total=   1.6s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=10, total=   0.2s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=5, total=   1.7s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=5
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=10, total=   0.2s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=10, total=   0.1s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=10
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=10, total=   1.4s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=10
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=10, total=   1.6s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=10
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=5, total=   1.4s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=10
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=10, total=   1.2s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=10, total=   1.2s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=10, total=   0.2s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=10
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=10, total=   0.3s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=10
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=10, total=   0.3s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=10
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=10, total=   1.4s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=10

[Parallel(n_jobs=-1)]: Done  50 tasks      | elapsed:    8.9s

[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=10, total=   1.2s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=20, total=   0.1s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=20, total=   0.1s
[CV] max_features=sqrt, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=sqrt, n_estimators=10, random_state=1, max_depth=20, total=   0.1s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=10, total=   2.2s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=10, total=   2.3s
[CV] max_features=sqrt, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=10, total=   2.4s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=20, total=   0.1s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=20, total=   1.6s
[CV] max_features=log2, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=20, total=   0.1s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=log2, n_estimators=10, random_state=1, max_depth=20, total=   0.2s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=20, total=   1.4s
[CV] max_features=log2, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=sqrt, n_estimators=100, random_state=1, max_depth=20, total=   1.3s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=20, total=   0.2s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=20, total=   1.2s
[CV] max_features=None, n_estimators=10, random_state=1, max_depth=20
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=20, total=   0.2s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=20, total=   1.3s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=None, n_estimators=10, random_state=1, max_depth=20, total=   0.2s
[CV] max_features=None, n_estimators=100, random_state=1, max_depth=20
[CV]  max_features=log2, n_estimators=100, random_state=1, max_depth=20, total=   1.4s
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=20, total=   1.7s
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=20, total=   2.0s
[CV]  max_features=None, n_estimators=100, random_state=1, max_depth=20, total=   2.1s

[Parallel(n_jobs=-1)]: Done  72 out of  72 | elapsed:   15.7s finished

GridSearchCV(cv=None, error_score='raise',
       estimator=RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [10, 100], 'max_features': ['sqrt', 'log2', None], 'random_state': [1], 'max_depth': [2, 5, 10, 20]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=2)

In [120]:
# grid.best_params_
# zip(grid.best_estimator_.feature_importances_, X_train.columns.values)
grid.best_score_

0.79874150005074596

In [121]:
ada_param = {'learning_rate': [.5, .75, .9, 1],
             'random_state': [1],
             'n_estimators': [200, 300, 500]}

ada = AdaBoostClassifier()
models_ada = GridSearchCV(ada, ada_param, n_jobs=-1, verbose=1)
models_ada.fit(X_train, y_train)

Fitting 3 folds for each of 12 candidates, totalling 36 fits

[Parallel(n_jobs=-1)]: Done  36 out of  36 | elapsed:   30.3s finished

GridSearchCV(cv=None, error_score='raise',
       estimator=AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None,
          learning_rate=1.0, n_estimators=50, random_state=None),
       fit_params={}, iid=True, n_jobs=-1,
       param_grid={'n_estimators': [200, 300, 500], 'learning_rate': [0.5, 0.75, 0.9, 1], 'random_state': [1]},
       pre_dispatch='2*n_jobs', refit=True, return_train_score=True,
       scoring=None, verbose=1)

In [122]:
models_ada.best_score_

0.80432355627727592

In [123]:
zip(models_ada.best_estimator_.feature_importances_, X_train.columns.values)

[(0.50600000000000001, 'avg_dist'),
 (0.051999999999999998, 'avg_rating_of_driver'),
 (0.071999999999999995, 'avg_surge'),
 (0.070000000000000007, 'surge_pct'),
 (0.094, 'trips_in_first_30_days'),
 (0.0040000000000000001, 'luxury_car_user'),
 (0.19800000000000001, 'weekday_pct'),
 (0.0, 'city_Astapor'),
 (0.0, 'phone_Android'),
 (0.0040000000000000001, 'phone_iPhone')]

In [125]:
recall_score(y_val, models_ada.best_estimator_.predict(X_val))

0.93019480519480524

In [126]:
precision_score(y_val, models_ada.best_estimator_.predict(X_val))

0.83527696793002915

In [ ]:
mode